<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="\{{ asset('/build/app_styles.css') }}" />
        {% endblock %}

        {% block javascripts %}
            <script src="\{{ asset('/build/runtime.js') }}"></script>
            <script src="\{{ asset('/build/app_js.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{{ yield | raw }}{% endblock %}
    </body>
</html>
