{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/build/app.css') }}" />
{% endblock %}

{% block body %}{% endblock %}
{% block body %}{{ yield | raw }}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/build/runtime.js') }}"></script>
    <script src="{{ asset('/build/app.js') }}"></script>
{% endblock %}