<div class='landing-page--dynamic landing-page ezlandingpage-field' data-locationid="{{ content.locationid }}">
    <div class="landing-page__zones">
        {% for zk, zone in page.zones %}
            <div class="landing-page__zone landing-page__zone--{{ zone.id }}" data-ez-zone-id="{{ zone.id }}">
                {% if zone.blocks %}
                    {% for block in zone.blocks %}
                        <div class="landing-page__block" data-ez-block-id="{{ block.id }}">
                            <div class="overlay">
                                {% include '@base_theme/blocks/' ~ block.block_type ~ '.html.twig' with {'block': block} %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>